button {
    height: 40px;
    background: #0070ad;
    box-shadow: 0px 2px 3px #00559d;
    opacity: 1;
    border: none;
    border-radius: 5px;
    width: 100px;
}

button:hover {
    background: #00449d;
}